<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="homepage.css">
	<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
	<style>
		body
		{
			margin:0 auto;
		}
		.header
		{
			display:inline-block;
			text-decoration:none;
			color:black;

		}
		.s1
		{
			display:inline-block;
			padding-top:10px;
			font-family: 'Anton', sans-serif;
			font-size:2.3em;
		}
		.s2
		{
			font-weight:bold;
			font-size:1.2em;
		}
		a
		{
			text-decoration:none;
		}
	</style>
</head>
<body style="background-color:#d2fafb">
	<div style="position:sticky;top:0px;background-color:#78b0a0;border-bottom:1px solid #7ecfc0;z-index:1;">
	<center>
		<a class="header" href="homepage.html"><img src="l1.jpeg" style="width:85px;border-radius:50%;float:left"><span class="s1">  National Rural Employment</span><br><span class="s2">Empowering Rurals !</span>
		</a>
	</center>
	</div>
	<center>
		<h2>Thankyou<h1><%=data.name%></h1><h2>for signing up</h2><br>
			<h2>Your registered adhaar no. is : <%=data.adhaar%></h2>
			<h2>Your registered mobile no. is : <%=data.mobile%>
		</h2><br>
		<a href="employer.html"><h3>Click Here To Login</h3></a>
	</center>
</body>
</html>
